@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

body {
  background-color: #f6e8d2;
}

.header {
  margin: 0 12px;
}

.navBar {
  display: flex;
  justify-content: space-between;
  border: 3px solid #daaa63;
  border-radius: 8px;
  padding: 4px 12px;
  padding-right: 0;
}

.navList {
  list-style: none;
  display: flex;
  gap: 16px;
}

.navList li {
  border-right: 2px solid #daaa63;
  padding-right: 12px;
  cursor: pointer;
}

.navList li:last-child {
  border: none;
}

.navList li:hover {
  color: #daaa63;
}

.date {
  display: flex;
  justify-content: flex-end;
}

.heading {
  text-align: center;
  margin-top: 20px;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newBook {
  margin-bottom: 16px;
  padding-top: 20px;
  font-size: 40px;
}

#bookInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0;
}

#bookInfo input {
  margin: 0;
}

button {
  border: none;
}

.title,
.author {
  margin-bottom: 8px;
  padding: 4px 8px;
  min-width: 100%;
  font-size: 14px;
  border-radius: 4px;
  border: solid #daaa63;
}

.addBtn {
  margin-bottom: 8px;
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 4px;
  background-color: blanchedalmond;
  border: solid #daaa63;
  box-shadow: 4px 2px #000;
}

.addBtn:hover {
  background-color: #daaa63;
  color: #fff;
  transform: scale(1.1);
}

.listWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 8px;
}

.listWrapper:nth-child(odd) {
  background-color: #ccc;
}

.listWrapper:nth-child(even) {
  background-color: #fff;
}

.listWrapper button {
  height: max-content;
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  background-color: #f00;
  color: #fff;
  box-shadow: 4px 2px #800;
  cursor: pointer;
}

.listWrapper button:hover {
  background-color: #f08080;
  color: #000;
  transform: scale(1.1);
}

.books {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  gap: 20px;
}

.books_list {
  min-width: 40%;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  border: 3px solid #daaa63;
  box-shadow: 0 2px 3px;
}

.books_list .message {
  color: red;
  font-weight: 700;
  font-size: 26px;
  padding: 8px 16px;
  text-align: center;
}

.books_list ul {
  list-style: none;
  display: flex;
  width: 100%;
  gap: 4px;
  padding-top: 5px;
}

.books_list ul li:nth-child(even) {
  text-align: center;
  width: 30px;
}

.books_list ul li:nth-child(odd) {
  max-width: 50%;
  word-break: break-all;
}

.contact-section {
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  margin: 0 26px;
}

.contact-section h2 {
  font-size: 1.5rem;
}

.contact-section p {
  font-size: 1.1rem;
  font-weight: 500;
}

.contact-section ul {
  font-size: 1.05rem;
  margin: 0 20px;
}

.footerWrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer {
  border: 3px solid #daaa63;
  border-radius: 8px;
  margin: 0 16px;
  height: 10%;
}

.footerText {
  padding: 6px 16px;
  font-size: 14px;
}

.show {
  display: contents;
}

.non-show {
  display: none;
}
